#snipper img, #snipper{
  max-width:100%;
}
#snipper{
  max-height:340px;
}
.image-only, .question{
  display:none;
}
#controls{
  margin-top:4px;
}
button.narrow{
  min-width:0;
}
button.narrow + button.narrow{
  margin-left:auto;
}
.spinner.big{
  width:175px;
  height:175px;
}
#big_loader{
  text-align:center;
}
#loader{
  display:none;
  margin-top:5px;
  .label{
    margin-top:2px;
    margin-left:5px;
  }
  div{
    float:left
  }
  .spinner{
    width:20px;
    height:20px;
  }
}
#loaded, #error{
  display:none;
  font-size:20px;
  height:20px;
  width:20px;
  margin-top:-2px;
}
#error_icon{
  color:#f44336;
}
#loaded_icon{
  color: #4caf50;
}
.icon-holder{
  width:24px;
}
#error_message{
  display:none;
}